@charset "UTF-8";
body{margin:0;padding:0;background-image:url("../images/black-abstract-bg.svg");background-repeat:no-repeat;background-attachment: fixed;background-position: center; background-size: cover;}
#menu{display:none;}
#brand_logo{margin-top:-62.5px;width:80px;}
#project_div{width:100%;margin-top:100px;border-radius:20px 20px 0 0;}
#main_text{font-family:unbounded semibold;font-size:30px;width:100%;color:#ffb642;text-align:center;background:white;border-radius:20px 20px 0 0;}
#row{width:100%;display: flex;box-sizing:border-box;margin-top:-20px; background:#ffb642;}
.column{width:33.33%;box-sizing:border-box;padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom: 20px;}
.project_box{width:100%;display:flex;flex-direction:column;border-radius:10px;}
.project_box img{width:100%;height:200px;border-radius:10px;box-sizing:border-box;cursor:pointer; box-shadow:0 2px 20px #eee;}
.project_box img:hover{width:102%;height:220px;transition:0.3s;}
.show_btn{font-family:montserrat;font-weight:600;font-size:25px;width:40%;color:#0082d1;text-align:center;background:white;border-radius:10px;margin-left:30%;}
.show_btn:hover{background:#d9f3ff;color:#0082d1;transition:0.2s;cursor: pointer;}
a{text-decoration: 	none;border:none;}

#row_2{width:100%;display: flex;box-sizing:border-box;margin-top:-20px; background:#20afff;}
#main_text_2{font-family:unbounded semibold;font-size:30px;width:100%;color:#20afff;text-align:center;background:white;border-radius:20px 20px 0 0;}

.column_2{width:25%;box-sizing:border-box;padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom: 20px;}
.graphic_box{width:100%;display:flex;flex-direction:column;border-radius:10px;}
.graphic_box img{width:100%;border-radius:10px;box-sizing:border-box;cursor:pointer; box-shadow:0 2px 20px #eee;}
.graphic_box img:hover{width:102%;height:220px;transition:0.5s;}


/*PC Responsive*/
@media (min-width:992px)
{#pc_menu{font-size:15px;width:100%;background:rgb(194, 255, 238);box-shadow:0 0 10px #eee;list-style:none;position: fixed;top:0;left:0;margin:0;padding:0;border-radius:0 0 20px 20px;display:block;height:10vh}
.slicknav_menu{display: none;}
#pc_menu li{display: inline-block;padding: 	20px;float:right;font-family:"unbounded",sans-serif;}
#pc_menu li a{text-decoration: none;}
#b_logo{width:130px;position: fixed;top:-32px;left:5px;}
#pc_menu li a:hover{color:#ffb200;}}



/* Mobile Responsive*/
@media (max-width:992px)
{#pc_menu{display: none;}
.slicknav_menu{display: block;}
#project_div{margin-top:20px;}
#main_text{font-size: 15px;}
#row{margin-top:-10px;flex-direction: column;}
.column{width:100%;padding-bottom:0px;}
.project_box img{height:100%;}
.show_btn{font-size:13px;}






}